.error-page, .thank-page{
  padding: 50px;
}
main{

}
h1{
  text-align: center;
}
.container-header{
  display: flex;
  padding: 50px;
}
.container-header .header-link{
  margin-right: 50px;
  font-size: 40px;
  color: black;
}
.container-header .header-link .inactive{
  color: black;
  text-decoration: none;
}
.container-header .header-link .active{
  color: black;
}
.container-shops {
  display: flex;
  justify-content: space-around;
  height: 600px;
}
.container-shops .aside{
  border: 2px solid;
  border-radius: 5px;
}
.container-shops .aside h2{
  text-align: center;
}
.shops-item-block .shop-item{
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  transition: 0.2s ease-in;
}
.shops-item-block .shop-item:hover{
  cursor: pointer;
  background: tan;;
}
.container-shops .main{
  display: flex;
  border: 2px solid;
  border-radius: 5px;
  overflow-y: scroll;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.container-cart {
  width: 140px;
  height: 260px;
  border: 2px solid;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  position: relative;
}
.img-item{
  background: url(image/burger.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 110px;
}
.cart-item{
  height: 40px;
}
.container-cart button{
  position: absolute;
  bottom: 5px;
  border-radius: 5px;
  background: tan;
}
.container-shoppingCart{
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  max-height: 800px;
}
.container-client, .container-basket{
  width: 45%;
  padding: 20px;
  border: 2px solid;
  border-radius: 5px;
}
.container-client .form-client{
  display: flex;
  flex-direction: column;
}
.form-item{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}
.form-button button{
  background: tan;
  border-radius: 5px;
}
.form-item label{
  margin-bottom: 20px;
}
.form-item input{
  border-radius: 5px;
  padding: 10px;
}
.container-basket{
  overflow-y: scroll;
}
.basket-item{
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}
.basket-item .btn-delete{
  position: absolute;
    top: 25px;
    right: 50px;
    width: 20px;
    color: red;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.basket-item .quantity{
  border: 2px solid;
  border-radius: 5px;
  width: 100px;
  padding: 10px;
  text-align: center;
  position: relative;
}
.quantity-up, .quantity-down{
  position: absolute;
  display: block;
  background: gray;
  border: 1px solid;
  width: 23px;
  cursor: pointer;
}
.quantity-up{
  right: 1px;
  top: -2px;
  border-radius: 0 0 3px 0;
  transform: rotate(270deg);
}
.quantity-down{
  right: 1px;
  bottom: -2px;
  border-radius: 0 0 0px 3px;
  transform: rotate(270deg);
}
